{% extends "base.html" %}

{% block header %}
<script>
    var view_file_list = function () {
        $('#file_list').load("{{ reverse_url('file_list') }}")
    };
</script>
{% end %}

{% block content %}

<form class="form-inline"  enctype="multipart/form-data" action="{{ reverse_url('upload') }}" method="post">
    <label for="id_file">Upload new file: </label>
    <input class="form-control" id="id_file" name="file" type="file" required="">
    <input class="btn btn-primary" type="submit" value="Upload">
</form>

<div id="file_list"></div>

{% end %}